<h2>Добавить новый коментарий</h2>
    <form action="{% url "blog:post_comment" post.id %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Добавить коментарий"></p>
</form>

<!-- В указанном шаблоне мы динамически формируем URL-адрес action
HTML-элемента form, используя шаблонный тег % url %. Мы формируем
URL-адрес представления post_comment, которое будет обрабатывать форму.
Мы отображаем форму, прорисованную абзацами HTML, и вставляем тег
% csrf_token %, чтобы защититься от CSRF, поскольку данная форма будет
передаваться на обработку методом POST.
Внутри каталога templates/blog/post/ создайте новый файл приложения
blog и назовите его comment.html. -->