6.HTML_и_CSS_основы_веб-верстки/lesson_6.3/fb-square-blue.png
6.HTML_и_CSS_основы_веб-верстки/lesson_6.3/twitter-round-blue.png
6.HTML_и_CSS_основы_веб-верстки/lesson_6.3/youtube-red-square.png

My_edu_petproj/geodjango/geoapp/static/Mapnik
My_edu_petproj/geodjango/geoapp/static/MapnikOSM
My_edu_petproj/geodjango/geoapp/static/Mapnik.html
My_edu_petproj/geodjango/geoapp/static/MapnikOSM.html

My_edu_petproj/DEMO_django.zip
My_edu_petproj/geodjango.7z
My_edu_petproj/geodjango.zip
My_edu_petproj/Leaflet.draw-develop.zip
My_edu_petproj/geodjango/geoapp/static/Leaflet.draw-develop
My_edu_petproj/Map_от_КВН.zip

My_edu_petproj/Leaflet.draw-develop
My_edu_petproj/Proect_QSM_tiles_QGIS

My_edu_petproj/Исходники
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5592.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5593.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5594.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5595.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5596.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5597.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5598.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5599.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5600.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5601.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5602.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5603.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5604.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5605.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5606.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5607.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5608.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5609.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5610.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5611.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5612.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5613.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5614.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5615.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5616.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5617.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5618.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4534/5619.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5592.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5593.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5594.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5595.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5596.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5597.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5598.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5599.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5600.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5601.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5602.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5603.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5604.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5605.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5606.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5607.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5608.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5609.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5610.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5611.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5612.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5613.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5614.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5615.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5616.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5617.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5618.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/13/4535/5619.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2571_&&_4536_2574.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2573_&&_4536_2576.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2575_&&_4536_2578.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2577_&&_4536_2580.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2579_&&_4536_2582.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2581_&&_4536_2584.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2583_&&_4536_2586.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2585_&&_4536_2588.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2587_&&_4536_2590.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2589_&&_4536_2592.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2591_&&_4536_2594.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2593_&&_4536_2596.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2595_&&_4536_2598.png
My_edu_petproj/geodjango/geoapp/static/MapnikOSM/metatiles/13_&&_4533_2597_&&_4536_2600.png
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/__pycache__/settings.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/__pycache__/urls.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/__pycache__/wsgi.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/__pycache__/0001_initial.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/__pycache__/0002_recording_delete_audiofile.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/__pycache__/0003_audiofile_commands_userstexts_delete_recording_and_more.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/.gitignore
Hackathons/MTC_True_Tech/iiassistant_test/iiassistat_data.json
Hackathons/MTC_True_Tech/iiassistant_test/manage.py
Hackathons/MTC_True_Tech/iiassistant_test/README.md
Hackathons/MTC_True_Tech/iiassistant_test/requirements.txt
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/__init__.py
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/asgi.py
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/settings.py
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/urls.py
Hackathons/MTC_True_Tech/iiassistant_test/iiassistant/wsgi.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__init__.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/admin.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/apps.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/models.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/serializers.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/tests.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/urls.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__pycache__/admin.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__pycache__/apps.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__pycache__/models.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__pycache__/serializers.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__pycache__/urls.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/__pycache__/views.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/__init__.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/0001_initial.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/0002_recording_delete_audiofile.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/migrations/0003_audiofile_commands_userstexts_delete_recording_and_more.py
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/js/jquery-3.7.0.js
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/js/jquery-3.7.0.min.js
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/result.json
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/README
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/am/final.mdl
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/conf/mfcc.conf
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/conf/model.conf
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/graph/disambig_tid.int
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/graph/Gr.fst
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/graph/HCLr.fst
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/graph/phones/word_boundary.int
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/ivector/final.dubm
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/ivector/final.ie
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/ivector/final.mat
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/ivector/global_cmvn.stats
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/ivector/online_cmvn.conf
Hackathons/MTC_True_Tech/iiassistant_test/transcription/static/speech/model/ivector/splice.conf
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/admin.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/apps.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/models.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/serializers.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/urls.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/views.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/iiassistant/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/iiassistant/__pycache__/settings.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/iiassistant/__pycache__/urls.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/iiassistant/__pycache__/wsgi.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/__init__.cpython-38.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0001_initial.cpython-38.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0001_initial.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0002_recording_delete_audiofile.cpython-38.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0002_recording_delete_audiofile.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0003_audiofile_commands_userstexts_delete_recording_and_more.cpython-38.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0003_audiofile_commands_userstexts_delete_recording_and_more.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/admin.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/apps.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/models.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/serializers.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/urls.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/views.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0001_initial.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0002_recording_delete_audiofile.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/migrations/__pycache__/0003_audiofile_commands_userstexts_delete_recording_and_more.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/__init__.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/admin.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/apps.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/models.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/serializers.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/urls.cpython-310.pyc
Hackathons/MTC_True_Tech/iiassistant/transcription/__pycache__/views.cpython-310.pyc


My_edu_petproj/django_cicd
My_edu_petproj/django_cicd.zip
.DS_Store
5.Python_в_web_разработке/.DS_Store
5.Python_в_web_разработке/py-homeworks-web-new/.DS_Store
.DS_Store
.DS_Store
5.Python_в_web_разработке/.DS_Store
