6.HTML_и_CSS_основы_веб-верстки/lesson_6.3/fb-square-blue.png
6.HTML_и_CSS_основы_веб-верстки/lesson_6.3/twitter-round-blue.png
6.HTML_и_CSS_основы_веб-верстки/lesson_6.3/youtube-red-square.png

My_edu_petproj/openlayers3
My_edu_petproj/osm_tile_L

My_edu_petproj/geodjango/geoapp/static/Mapnik
My_edu_petproj/geodjango/geoapp/static/Mapnik2
My_edu_petproj/geodjango/geoapp/static/Mapnik.html
My_edu_petproj/geodjango/geoapp/static/Mapnik2.html
