{% extends "blog/base.html" %}
{% block title %}Add a comment{% endblock %}
{% block content %}
    {% if comment %}
        <h2>Ваш коментарий добавлен.</h2>
        <p><a href="{{ post.get_absolute_url }}">Вернуться к посту</a></p>
    {% else %}
        {% include "blog/post/includes/comment_form.html" %}
        {% endif %}
{% endblock %}

<!-- Это шаблон представления комментариев к посту. В данном представле-
нии мы ожидаем, что форма будет передаваться на обработку методом POST.
Шаблон охватывает два разных сценария:
•• если переданные данные формы валидны, то переменная comment будет
содержать созданный объект comment, и на страницу будет выведено со-
общение об успехе;
•• если переданные данные формы невалидны, то переменной comment
будет назначено значение None. В этом случае мы отобразим коммен-
тарную форму. Для вставки созданного ранее шаблона comment_form.html
используется шаблонный тег % include %. -->
<!-- 
Добавление комментариев в представление
детальной информации о посте
Откройте файл views.py приложения blog и отредактируйте представление
post_detail, как показано ниже: -->