{% load blog_tags %}
<!-- загрузка своего модуля шаблонных тегов blog_tags -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet"/> 
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Мой блог</h2>
        <p>
            В этом блоге опубликовано {% total_posts %} постов.
        </p>
        <!-- Создание шаблонного тега включения -->
        <h3>Последние опубликованные посты</h3>
        {% show_latest_posts 3 %}
        <!-- Здесь вызывается шаблонный тег, передающий число отображаемых постов,
        и шаблон прорисовывается прямо на месте с заданным контекстом. -->
        <!-- - - - - - - - - - - - - - - - - - - -
        Создание шаблонного тега, возвращающего набор запросов -->
        <h3>Сортировка постов по числу комментариев</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }} ({{ post.total_comments }} coment{{ post.total_comments|pluralize }})</a>
                </li>
            {% endfor %}
            <!-- приведенном выше исходном коде результат сохраняется в конкретно-
            прикладной переменной, используя аргумент as, за которым следует имя пере-
            менной. В качестве шаблонного тега используется % get_most_commented_posts
            as most_commented_posts %, чтобы сохранить результат шаблонного тега в новой
            переменной с именем most_commented_posts. Затем возвращенные посты post.title
            и количество коментариев в них post.total_comments отображаются, 
            используя HTML-элемент в виде неупорядоченного списка. -->
    </div>
</body>
</html>