<!-- Далее необходимо создать навигацию по страницам, чтобы пользователи
имели возможность просматривать разные страницы. Мы создадим шаблон
отображения постранично разбитых ссылок и сделаем его типовым, чтобы
иметь возможность реиспользовать шаблон для постраничной разбивки лю-
бого объекта на веб-сайте. -->

<div class="pagination">
        <span class="step-links">
                {% if page.has_previous %}
                    <a href="?page={{ page.previous_page_number }}">Предыдущая</a>
            {% endif %}
            <span class="current">
                Страница {{ page.number }} из {{ page.paginator.num_pages }}.
            </span>
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">Следующая</a>
            {% endif %}
        </span>
    </div>

    <!-- Это типовой шаблон постраничной разбивки. Предполагается, что данный
    шаблон будет иметь в контексте объект Page, чтобы прорисовывать предыдущую 
    и следующую ссылки, а также отображать текущую страницу и общее число страниц результатов.
    Давайте вернемся к шаблону blog/post/list.html и разместим шаблон pagination.
    html в нижней части блока content, как показано ниже: -->