<!DOCTYPE html>
<html lang="en">
<!-- - - - - - - - - - - - - - - - -->
{% load static %}
<!-- - - - - - - - - - - - - - - - -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Webpage</title>

  <!-- ... -->

  <!-- - - - - - - - - - - - - - - - -->
  <!-- Это таблица стилей моей карты -->
  <!-- /* Потом проверить, может это и не нужно тк есть в map.html */ -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
  <!-- - - - - - - - - - - - - - - - -->

  <!-- Если работаем через интернет -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" /> -->
  <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> -->
  <!-- Если работаем без интернет качаем с сайта https://leafletjs.com/download.html библиотеку Leaflet -->
  <!-- и указываем путь к ней -->
  <!-- Внутри архивов, скачанных по указанным выше ссылкам, вы увидите четыре вещи:
  leaflet.js— Это минимизированный JavaScript-код Leaflet.
  leaflet-src.js— Это читаемый, неминифицированный JavaScript Leaflet, который иногда полезен при отладке. (integrity=" sha256-tPonvXioSHRQt1+4ztWR5mz/1KG1X3yHNzVXprP2gLo= ")
  leaflet.css— Это таблица стилей для Leaflet.
  images– Это папка, содержащая изображения, на которые ссылается leaflet.css. Он должен находиться в том же каталоге, что и leaflet.css.
  Разархивируйте загруженный архив в каталог шаблонов templates вашего сайта и добавьте в тег head свои пути к .js и .css: -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
  <script src="{% static 'js/leaflet.js' %}" ></script>
</head>
<body>
  <!-- Ваш основной контент здесь -->
  
  

  <div id="map" class="map"></div>
  

  <!-- - - - - - - - - - - - - - - - -->
  <script src="{% static 'js/map.js' %}"></script>
  <!-- - - - - - - - - - - - - - - - -->

  <style>
    html, body, #map {
      height: 100%;
      width: 100%;
      margin: auto;
    }
  </style>

  <script>

      var map = L.map('map').setView([54.48887629731281, 21.932593270040424], 11);
      
      // Это базовый слой OSM
      var baselayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        minZoom: 0, // минимальный масштаб
        maxZoom: 18, // максимальный масштаб
        tms: false, // использование TMS
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' // ссылка на авторство
      }).addTo(map); // добавление тайлов OSM как подложки
      
      // Это тайловый слой на основе растра - он распологается выше базового
      // {% static 'Mapnik/' %} - это статичный (не изменяемый) путь к папке с тайлами
      // которая обязательно должна быть помещена в папку static
      var mytile = L.tileLayer("{% static 'Mapnik/' %}" + "{z}/{x}/{y}.png", {
        minZoom: 10,
        maxZoom: 12,
        tms: true, // использование TMS
        attribution: 'Generated by QMetaTiles'
      }).addTo(map);

      // Здесь добавляем еще слои по мере необходимости 3-й слой, 4-й слой и т.д
      var mytile2 = L.tileLayer("{% static 'Mapnik2/' %}" + "{z}/{x}/{y}.png", {
        minZoom: 15,
        maxZoom: 18,
        tms: true, // использование TMS
        attribution: 'Generated by QMetaTiles'
      }).addTo(map);

      // Далее идут расчетные слои на основе расположения точек и линий
      var pnts = L.geoJSON(context_pnt, {
          onEachFeature: function(feature, layer) {
              layer.bindPopup(feature.properties.name);
          }
      }).addTo(map);

      var lines = L.geoJSON(context_line, {
          onEachFeature: function(feature, layer) {
              layer.bindPopup(feature.properties.azimuth + ' ' + feature.properties.pn + ' ' + feature.properties.distance);
          }
      }).addTo(map);


      // Настройка переключателя слоёв
      // L.control.layers({'Базовый слой OSM':baselayer},
      // {'Landsat8 (офлайн)':mytile},
      // {'OSM (офлайн)':mytile2},
      // {'Ориентиры':pnts},
      // {'Направления':lines}).addTo(map);

      // Настройка переключателя слоёв
      L.control.layers(
      {'Landsat8 (офлайн)':mytile},
      {'OSM (офлайн)':mytile2}).addTo(map);

  </script>

  <!-- <div id="map" style="height: 600px;"></div>
  <script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('http://localhost:8080/{z}/{x}/{y}.pbf').addTo(map);
  </script> -->
  <!-- Обратите внимание, что вы должны заменить http://localhost:8080/{z}/{x}/{y}.pbf 
  на соответствующий URL вашего локального tileserver. -->

  <!-- Настройка Tileserver
  Установка tileserver-serve: 
  npm install -g tileserver-serve

  Генерация тайлов: Сначала вам нужно создать тайлы из ваших исходных данных. 
  Обычно это можно сделать с помощью утилиты tippecanoe. Например:
  tippecanoe -o tiles.mbtiles source.geojson

  Запуск tileserver, указав путь к вашему .mbtiles файлу:
  tileserver-serve tiles.mbtiles

  Теперь у вас есть локальный tileserver, обслуживающий тайлы из вашего .mbtiles файла. -->


</body>
</html>
