<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
    <h2 style="color: rgb(204, 54, 54); font-size: 16px;">
        Рецепт для приготовления блюда: {{ dish }} 
    </h2>
    <h2 style="color: rgb(204, 54, 54); font-size: 16px;">
        на количество персон (servings) равное: {{ servings }} 
    </h2>
    <p> Для учета количества персон 
        введите в адресной строке параметр servings(по умолчанию =1)</p>
    <p>
        {% for ingredient, amount in recipe.items %}
            <li>{{ ingredient }}: {{ amount }}</li>
        {% empty %}
            <p>Такого рецепта не знаю :(</p>
        {% endfor %}
    </p>
</body>
</html>
