.box {
    /* Эти свойства работают
    не всегда так как это хотелось бы */
    width: 100px;
    height: 100px;
    border: 1px solid red;
    /* отступ */
    padding: 10px;
    margin: 50px;

    /* Делаем из строчного элемента блочный */
    /* display: block; */

    /* Делаем из блочного элемента строчный */
    /* display: inline; */

    /* Совмещаем +/- */
    display: inline-block;
}