body {
    margin: 0;
}

.menu {
    display: flex; /* добавляем при настройке флексбоксов (т.к. это контейнер №1)*/
    align-items: center; /* добавляем выравниваем флекс элементы контейнера по центру */
    font-family: Arial, sans-serif;
    padding: 20px; /* добавляем при настройке флексбоксов */
}

.menu__logo {
    /* высота логотипа */
    width: 50px;
}

.menu__item {
    /* выстраиваем блоки в строку */
    /* display: inline-block; убираем при настройке флексбоксов*/
    padding: 10px;
}

.menu__list {
    /* выстраиваем блоки в строку */
    /* display: inline-block; заменяем на flex при настройке флексбоксов*/
    display: flex; /* добавляем при настройке флексбоксов (т.к. это контейнер №2)*/
    flex-wrap: wrap; /* добавляем при настройке флексбоксов 
    при изменении размеров браузера элементы не будут сжиматься 
    в гармошку а будут переноситься */
    color: #8e8e8e;
    margin-left: 25px; /* добавляем отступ от логотипа с лева при настройке флексбоксов */
    list-style-type: none; /* убираем маркеры меню*/
    padding: 0;
    margin: 10px;
}

.menu__logo-link {
    /* убираем подчеркивание текста */
    text-decoration: none;
}

.menu__link {
    text-decoration: none;
    /* наследование цвета из материнского класса .menu__list */
    color: inherit;
}