body {
    /* ЗАНЯТИЕ 6.1 */
    /* цвет шрифта */
    color: black;
    /* подложка */
    background: wheat;
    /* название шрифта */
    font-family: Arial, sans-serif;
    /* жирность */
    font-weight: 700;
    /* размер шрифта в пикселях px */
    font-size: 18px;
    /* начертание */
    font-style: normal;
    /* убрать подчеркивание */
    text-decoration: none;

    /* ЗАНЯТИЕ 6.2 */
    /* межстрочное расстояние */
    line-height: 1.5;
    
}

ul {
    /* формы маркера */
    list-style-type: circle;
}

figure {
    /* обтекание текстом картинки справа float: left, слева  float: right */
    float: left;
    /* внутренние отступы */
    /* padding: 40px 10px 15px 10px; */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;

    /* толщина рамки */
    /* border-width: 4px; */
    /* стиль рамки */
    /* border-style: solid; */
    /* цвет рамки */
    /* border-color: blue; */

    /* можно так */
    border-left: 4px solid blue;

    /* внешний отступ */
    margin-top: 10px;

}

/* селектор span для оформления отдельных фрагментов */
span {
    font-style: italic;

}

/* Этот фрагмент кода CSS устанавливает стили для элемента body. 
Он указывает, что цвет текста должен быть красным, цвет фона — пшеничным, 
шрифт — Arial или шрифт без засечек, толщина шрифта должна быть жирной (700), 
размер шрифта — 8 пикселей, стиль шрифта. 
должен быть выделен курсивом, без оформления текста (без подчеркивания). */

/* МЕНЮ */
.menu {
    /* убираем точки списка */
    list-style: none;
    /* сбрасываем отступы */
    padding: 0;
    /* задаем высоту шрифта */
    font-size: 20px;
    /* название шрифта и семейство шрифтов в котором 
    осуществляется поиск его замены в случае его отсутствия */
    font-family: Helvetica, sans-serif;
    /* межстрочное расстояние - итерлиньяж */
    line-height: 2;
    /* задаем цвет ВНИМАНИЕ!!! ЭТО СВОЙСТВО НЕ НАСЛЕДУЕТСЯ */
    color: black; 
}

/* для исправления чего нужно явно указать что свойство цвета color  */
/* класса class="menu_link" тега <a> */
/* явно наследуется от класса class="menu" родительского тега <ul> */
.menu__link {
    color: inherit;
    /* дополнительно установим оформление фона */
    background: lightgrey;
    /* и уберем подчеркивание */
    text-decoration: none;
}

/* делаем пункт меню Главная с особым выделением */
.menu__link__first {
    color: red;
}