annotated-types==0.7.0
blinker==1.9.0
click==8.1.7
Flask==3.1.0
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
psycopg2==2.9.10
pydantic==2.10.3
pydantic_core==2.27.1
SQLAlchemy==2.0.36
typing_extensions==4.12.2
Werkzeug==3.1.3
