ЛЦТ24.vsdx
/gpxtojson
//anaconda3/envs/
~/anaconda3/envs/
/geodjango/geoapp/static/Mapnik
/geodjango/geoapp/static/MapnikOSM
/geodjango/geoapp/static/Mapnik.html
/geodjango/geoapp/static/sat
geodjango.zip
Обработка_снимков.zip
Lansat-8_2021_05_16.7z
Lansat-8_2021_05_16
planet_155.92,53.4_162.24,56.07-shp
EO_Browser_images (4-red,5-nir).zip
