ЛЦТ24.vsdx
/gpxtojson
//anaconda3/envs/
~/anaconda3/envs/
/geodjango/geoapp/static/Mapnik
/geodjango/geoapp/static/MapnikOSM
/geodjango/geoapp/static/Mapnik.html
/geodjango/geoapp/static/sat
geodjango.zip
Обработка_снимков.zip
Lansat-8_2021_05_16.7z