# создай requirements.txt для работы с geodjango на python 3.8.10 и на Windows7x64
# добавь в него библиотеки GDAL, GEOS, PROJ.4, geodjango, Pillow, djangorestframework, psycopg2, psycopg2-binnary
# и все дополнительные зависимости к этим библиотекам

asgiref==3.3.1
Django==3.1.4
pyproj==3.1.0
pytz==2020.4
sqlparse==0.4.1

# ГЕОДЖАННО
geodjango==3.1.4

# ГДАЛ
GDAL==3.2.2

# GEOS
GEOS==3.11.0

# PROJ.4
PROJ.4==6.3.1

# Python зависимости
Pillow==8.1.0
djangorestframework==3.11.6
psycopg2==2.8.3
psycopg2-binary==2.8.3

# Загрузка в текущую дирректорию
# pip3 download --destination-directory . -r requirements.txt 
# pip3 download --platform win_x86_64 --python-version 3.8.10 . -r requirements.txt 

# Install
# pip3 install --no-index --find-links=. numpy